@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
}
#Icon{
	color: #fff;
	line-height: 57px;
}
.blue{
	color: #00ebf4;
}
.white{
	color: #fff;
}
#Web{
	width: 100%;
	height: auto;
	background-image: url("../images/BgImage.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
header{
	width: 100%;
	height: 57px;
	background-color: #000;
	font-size: 18px;
	line-height: 57px;
	position: fixed;
	top: 0;
	left:0;
}
header > nav{
	width: 100%;
	height: 57px;
	overflow: hidden;
	background-color: #000;
}
header > nav >a{
	color: #fff;
	padding-left: 9.7%;
	float: left;
}
header > nav >i{
	float: left;
}
header >nav >div{
	width: 37%;
	height: auto;
	float: right;
}
header > nav > div > a{
	padding: 0 0.8%;
	color: #fff;
}
header > nav > div > a.last{
	padding-right:0;
}
article{
	margin-top: 57px;
	width: 100%;
	height: auto;
	overflow: hidden;
}

article.Top{
}
article.Top >div#Mid{
	width: 100%;
	height: auto;
	margin-bottom: -23px;
}
article.Top >div#Mid > div{
	width: 100%;
	height: 376px;
	background-image: url("../images/Top_Pic.png");
	background-position: 50% center;
	background-repeat: no-repeat;

}
article.Top >div#Mid > img#myself{
	width: 259px;
	height: 259px;
	margin: -224px 41% 0 40%;
	border-radius: 100%;
}
article.Top >div#Bot{
	width: 100%;
	height: auto;
	background-color: #000;
}
article.Top >div#Bot > div#Name{
	width: 269px;
	height: auto;
	margin: 0 39.4%;
}
article.Top >div#Bot > div#Name > img{
	width: 100%;
	height: auto;
	padding-top: 9.7%;
}
article.Top >div#Bot > div#edu{
	width: 100%;
	height: auto;
}
article.Top >div#Bot > div#edu > div#top{
	width: 100%;
	height: 41px;
}
article.Top >div#Bot > div#edu > div#top >i{
	color: #444444;
	padding-left: 30.5%;
	line-height: 41px;
	font-size: 30px;
	float: left;
}
article.Top >div#Bot > div#edu > div#top > h1{
	color: #ffffff;
	font-size: 20px;
	width: 4.6%;
	line-height: 41px;
	float: left;
}
article.Top >div#Bot > div#edu >div#bot{
	width: 100%;
	height: auto;
	padding-bottom: 60px;
}
article.Top >div#Bot > div#edu >div#bot > p{
	font-size: 24px;
	line-height: 40px;
	padding: 0 20% 0 32.5%;
}

/* About */
article.About{
 	height: 942px;
}
article.About >div#top{
	width: 100%;
	height: 46%;
}
article.About >div#top >div#header{
 	width: 100%;
 	height: 174px;
 	margin: 0 auto;
}
article.About >div#top >div#header >img{
	width: auto;
	height: auto;
	margin: 0 auto 0 auto;
}
article.About >div#top >div#Photos{
	width: auto;
	height: 262px;
}

article.About >div#top >div#Photos >div#Photo_border{
	width: 612px;
	height: 262px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 7%;
}
article.About >div#top >div#Photos> div#Photo_border> img.aboutPic{
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 7%;
}
article.About >div#bot >div#footer{
	width: 235px;
	height: auto;
	margin:  0 auto;
	padding-top: 0.5%;
}
article.About >div#bot >div#footer >a{
	width: 18px;
	height: 18px;
}
article.About >div#bot >div#footer >a >div{
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 100%;
	float: left;
	margin: 0 13px;
}
article.About >div#bot >div#footer >a >div#aboutPicLight1{
	background-color: #444444;
}

article.About >div#bot{
	width: 100%;
	height: 48.5%;
	background-color: #000;
}

article.About >div#bot >article{

}




footer{
	width: 100%;
	height: 90px;
	background-color: #000;
	position: fixed;
	bottom: 0px;
	left: 0px;

}
