@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
}
#Icon{
	color: #fff;
	line-height: 57px;
}
.blue{
	color: #00ebf4;
}
.white{
	color: #fff;
}
#Web{
	width: 100%;
	height: auto;
	background-image: url("../images/BgImage.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00ebf4;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div#allLoad{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	background-color: #000;
	z-index: 9999;
}
div#allLoad >div#loader{
	width: 100px;
	height: 100px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}



header{
	width: 100%;
	height: 57px;
	background-color: #000;
	font-size: 18px;
	line-height: 57px;
	position: fixed;
	top: 0;
	left:0;
	z-index: 5000;
}
header > nav{
	width: 100%;
	height: 57px;
/* 	overflow: hidden; */
	background-color: #000;
}
header > nav >a{
	color: #fff;
	padding-left: 9.7%;
	float: left;
}
header > nav >a#menuBtn{
	display: none;
	float: right;
}
header > nav >a#menuBtn >div{
	width: 82px;
	height: 57px;
	background-image: url("../images/menu.png");
	background-repeat: no-repeat;
	background-position: center;
}
header > nav >i{
	float: left;
}
header >nav >div{
	width: 506px;
	height: auto;
	float: right;
	margin-right: 5%;
	display: flex;
	align-items: center;
	background-color: #000;
}
header > nav > div > a{
	padding: 0 0.8%;
	color: #fff;
	margin:  0 auto;
}
header > nav > div > a.last{
	padding-right:0;
}
article{
	padding-top: 57px;
	width: 100%;
	overflow: hidden;
}

article#Top{
	width: 100%;
	height: 900px;
}
article#Top >div#top{
	width: 100%;
	height: 50%;
}
article#Top >div#top > div#top_pic{
	width: 100%;
	height: 180px;
	padding-top: 55px;
	position: relative;
}
article#Top >div#top > div#top_pic >img{
	width: 75%;
	height: 180px;
	margin: 0 auto;
	transition: top 2s, height 2s;

	position: absolute;
	top: 55px;
	right: 12.5%;
	z-index: 1000;
}
article#Top >div#top > div#top_pic >img.TopAnimation1{
	top: 235px;
	height: 0;
}
article#Top >div#top > div#top_pic >img.TopAnimation2{
	top: 125px;
	height: 0;
}

article#Top >div#top >img#myself{
	width: 259px;
	height: 259px;
	margin: 33px auto 0 auto;
	border-radius: 100%;
	position: relative;
	z-index: 2000;
}
article#Top >div#Bot{
	width: 100%;
	height: 50%;
	background-color: #000;
}
article#Top >div#Bot > div#Name{
	width: 269px;
	height: auto;
	margin: 0 auto;
}
article#Top >div#Bot > div#Name > img{
	width: 100%;
	height: auto;
	padding-top: 20%;
}
article#Top >div#Bot > div#edu{
	width: 100%;
	height: auto;
}
article#Top >div#Bot > div#edu > div#top{
	width: 603px;
	height: 41px;
	margin: 0 auto;
}
article#Top >div#Bot > div#edu > div#top >i{
	color: #444444;
	line-height: 41px;
	font-size: 30px;
	float: left;
}
article#Top >div#Bot > div#edu > div#top > h1{
	color: #ffffff;
	font-size: 20px;
	width: 4.6%;
	line-height: 41px;
	float: left;
}
article#Top >div#Bot > div#edu >div#bot{
	width: 527px;
	height: auto;
	margin: 0 auto;
}
article#Top >div#Bot > div#edu >div#bot > p{
	font-size: 24px;
	line-height: 40px;
}

/* About */
article#About{
	width: 100%;
 	height: auto;
 	background-color: #000;
}

article#About >div#top{
	width: 100%;
	height:434px;
	background-image: url("../images/test1.png");
	background-position: center;
	background-repeat: no-repeat;
}
article#About >div#top >div#header{
 	width: 100%;
 	height: 174px;
 	margin: 0 auto;
}
article#About >div#top >div#header >img{
	width: auto;
	height: auto;
	margin: 0 auto;
}

article#About >div#bot{
	width: 100%;
	height: auto;
	background-color: #000;
}
article#About >div#bot >div#Light{
	width: 235px;
	height: auto;
	margin:  0 auto;
	padding-top: 0.5%;
}
article#About >div#bot >div#Light >a{

}
article#About >div#bot >div#Light >a >div{
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 100%;
	float: left;
	margin: 0 13px;
}
article#About >div#bot >div#Light >a >div#aboutPicLight1{
	background-color: #444444;
}

article#About >div#bot >article{
	width: 65%;
	height: auto;
	margin: 0 auto;
	padding-top: 2%;
}

article#About >div#bot >article >div#left{
	width: 9.12%;
	height: 100%;
	float: left;
}
article#About >div#bot >article >div#left >h1{
	font-size: 5vw;
	line-height: 7vw;
}
article#About >div#bot >article >div#right{
	width: 90.88%;
	height: 100%;
	float: left;
}
article#About >div#bot >article >div#right >p{
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 18px;
}

/* story*/
article#Story{
	width: 100%;
	height: 750px;
}
article#Story >div#top{
	width: 100%;
	height: 65%;
}
article#Story >div#top >img{
	width: auto;
	height: auto;
	padding-top:3%;
	margin: 0 auto;
}
article#Story >div#bot{
	width: 100%;
	height: 35%;
	background-color: #000;
}
article#Story >div#bot >div{
	width: auto;
	height: 100%;
	margin:  0 5%;
	display: flex;
	justify-content: space-around;
}
article#Story >div#bot >div >div{
	width: 300px;
	height: 100%;
	transition: transform 0.3s;
}
article#Story >div#bot >div >div >a{
	
}
article#Story >div#bot >div >div >a >img{
	margin: -75% auto auto auto;
	transition: transform 0.3s;
}
.Bigger:hover{
	transform: scale(1.2);
}

/*Skill*/
article#Skill{
	width: 100%;
	height: 800px;
	display: flex;
	background-color: #000;
	margin-top: 0;
}
article#Skill >div#left{
	width: 50%;
	height: 100%;
	align-items: center;
}
article#Skill >div#left >img{
	margin: 0 auto;
}
article#Skill >div#left >div{
	margin-top: 3%;
	margin-left: 25%;
}
article#Skill >div#left >div >div#last{
	margin-top: 1%;
}
article#Skill >div#left >div >div#last >h1{
	width: 230px;
	font-size: 26px;
	color: #000;
	background-color: #fff;
}
article#Skill >div#left >div >div>h1{
	font-size: 30px;
	line-height: 40px;
	color: #fff;
}
article#Skill >div#left >div >div>p{
	font-size: 24px;
	line-height: 42px;
	color: #fff;
}
article#Skill >div#right{
	width: 50%;
	height: 100%;
	align-items: center;
}
article#Skill >div#right >img{
}

/*Project*/
article#Project{
	width: 100%;
	height: 900px;
}
article#Project >div#top{
	width: 100%;
	height: 40%;
}
article#Project >div#top >img{
	margin:  0 auto;
	padding-top: 5%;
}
article#Project >div#bot{
	width: 100%;
	height: 60%;
	background-color: #000;
	display: flex;
}
article#Project >div#bot >div#left{
	width: 35%;
	height: 100%;
}
article#Project >div#bot >div#left >img{
	width: 36.4%;
	height: auto;
	margin-top: 5%;
	margin-left: 53%;
}
article#Project >div#bot >div#right{
	width: 65%;
	height: 100%;
	padding-top: 3%;
}

article#Project >div#bot >div#right >div{
	width: 70%;
	height: auto;
	transition: background-color 0.3s;	
}
article#Project >div#bot >div#right >div >a{

}
article#Project >div#bot >div#right >div >a >p{
	font-size: 2vw;
	line-height: 4vw;
	color: #fff;
}
.changeColor:hover{
	background-color: #00ebf4;
}

/*Contact*/

article#Contact{
	width: 100%;
	height:500px;
	padding-bottom: 90px;
}
article#Contact >div{
	width: 100%;
	height: auto;
}
article#Contact >div >img{
	width: 50%;
	height: auto;
	margin: 0 auto;
}
article#Contact >div >form{
	width: 100%;
	height: 200px;
}
article#Contact > div> form >input{
	width: 50%;
	background: #000093;
	display: flex;
	align-items: center;
	margin: 10px auto 0 auto;
	color: #fff;
}
article#Contact > div> form >textarea#content{
	width: 50%;
	background: #000093;
	display: flex;
	align-items: center;
	padding-bottom: 100px;
	margin: 10px auto 0 auto;
	color: #fff;
	overflow: auto;
}
article#Contact > div> form >input#btn{
	width: auto;
	color: #fff;
}

div#confirmWindow{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: auto;
	margin-top: -235px;
	margin-left: -150px;
	display: none;
	background-color: #238df7;
	border-radius: 10%;
	border-color: #fff;
	border-style: solid;
}
div#confirmWindow >div{
	width: 80%;
	height: 80%;
	margin: 10% 10%;
}
div#confirmWindow >div >p{
	overflow: hidden;
	margin: 5px;
	line-height: 26px;
	font-weight: 800;
}
div#confirmWindow >div >p#confirmText{
	word-wrap:break-word
}
div#confirmWindow >div >input{
	width: 55px;
	height: 25px;
	margin: 0 25px;
	background-color: #fff;
	border-radius: 5%;
	font-weight: 800;
}


footer{
	width: 100%;
	height: 90px;
	background-color: #000;
	position: fixed;
	bottom: 0px;
	left: 0px;

}
footer >div{
	width: 100%;
	height: 5px;
	background-color: #00ebf4;
}

@media screen and (max-width: 1024px){
	article#Top >div#top{
		height:37%;
	}
	article#Top >div#top > div#top_pic{
		padding-top: 0;
	}

	article#Top >div#top > div#top_pic >img{
		height: 120px;
		margin: 0 auto 0 auto;
		transition: top 2s, height 2s;

		position: absolute;
		top: 112px;
		right: 12.5%;
	}
	article#Top >div#top > div#top_pic >img.TopAnimation1{
		top: 292px;
		height: 0;
	}
	article#Top >div#top > div#top_pic >img.TopAnimation2{
		top: -68px;
		height: 0;
	}

	article#Top >div#top >img#myself{
		width: 200px;
		height: auto;
		margin: -25px auto 0 auto;
		border-radius: 100%;
	}
	article#Top >div#Bot{
		height: 63%;
	}	
}
@media screen and (max-width: 768px){
	.menuOpen{
		display: flex;
		align-items: center;
		width: 100%;
		padding-right: 0;
		margin-right: 0;
	}
	header> nav >a#menuBtn{
		display: block;
	}
	header> nav >div{
		padding-right: 0;
		display: none;
	}

	article#About >div#top{
		height: 360px;
	}	
	article#About >div#top >div#header >img{
		width: 90%;
	}
	article#Story{
		height: 1330px;
	}	
	article#Story >div#top{
		height: 185px;
	}
	article#Story >div#bot{
		height: 1050px;
		background-color: transparent;
	}
	article#Story >div#bot >div{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	article#Story >div#bot >div >div{
		width: 300px;
		height: auto;
		margin: 0 auto 0 auto;
	}
	article#Story >div#bot >div >div >a >img{
		margin: 0 auto;
	}
	article#Skill > div#left{
		width: 100%
	}
	article#Skill > div#right{
		width: 0%;
		overflow: hidden;
	}
	article#Project{
		height: 700px;
	}
	article#Project >div#top{
		height: 50%;
	}
	article#Project >div#top{
		padding-top: 0;
	}
	article#Project >div#bot >div#right >div{
		width: 100%;
	}
	article#Project >div#bot >div#right >div >a >p{
		font-size: 20px;
		line-height: 35px;
	}

@media screen and (max-width: 420px){
	
	header >nav >div >a{
		font-size: 16px;
	}
	article#Top{
		height: 650px;
	}
	article#Top >div#top{
		height: 25%;
	}
	article#Top >div#top > div#top_pic >img{
		top: 3px;
	}
	article#Top >div#top > div#top_pic >img.TopAnimation1{
		top: 183px;
	}
	article#Top >div#top > div#top_pic >img.TopAnimation2{
		top: -177px;
	}

	article#Top >div#top >img#myself{
		width: 150px;
		height: auto;
		margin: -75px auto 0 auto;
	}
	article#Top >div#Bot{
		height: 75%
	}
	article#Top >div#Bot >div#Name >img{
		padding-top: 42%;
	}
	article#Top >div#Bot >div#edu >div#top{
		width: 90%;
	}
	article#Top >div#Bot >div#edu >div#bot{
		width: 85%
	}
	article#Top >div#Bot >div#edu >div#bot >p{
		font-size: 5.85vw;
		line-height: 9.73vw;
	}





}


}